@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");



/*footer*/

  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed{
      text-align: center;
    }
    
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

  /*Start of Content*/

  .container{
    padding-top: 3cm;
    padding-bottom: 3cm;
   
  }
.image{
float:right;

}

.button4 {
    background-color:var(--s-clr1);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 12px;
    
  }
.button4:hover{
color:var( --t-clr1);
box-shadow:#222222;
  }


   /* Items grid */
  hr{
    height: 5px;
    width: 90%;
 border-style: none;
    background-color: var(--p-clr1);

    box-shadow:  
   
    -30px -30px 45px #2b170c;
  }
  .productcategory{
    font-style: var(--pfont2);
    text-align: center;
  }
  .Items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  background: transparent;
  
  }
.Item{
	padding: 20px 0;
	width: 30%;
	transition: box-shadow, 0.4s, ease-in-out;
	border-radius: 3px;
  align-items: center;
  
	@media (max-width: 1050px){
		width: 48%;
	@media (max-width: 600px){
		width: 100%;
    &:not(:last-child)
			margin-bottom 10px;
      
  }}}
 

  
.Item__link{
	text-decoration: none;
}
.Item__title{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
	color: black;
	width: 90%;
	margin: 20px auto 0;
}
.Item__price{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9em;
  background-color:var(--s-clr1);
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border-radius: 12px;
margin-left: 32%;
	color:  #555;
}
.Item__price  :hover{
  color:var( --t-clr1);
  box-shadow:#222222;
    }
.ImageContainer{
	width: 100%;
	height: auto;
}
.Image{
	width: 100%;
	height: auto;
}

 /* End of Items grid */

  /* pop up signup */
  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    color: black;
    text-align: center;

}
.popup-content button {
    display: block;
    margin: 0 auto;
    background-color:var(--s-clr1);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;

    font-size: 12px;

    border-radius: 12px;
}
.show {
    display: block;
}