* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--pfont2);
}

body {
    background-color: var(--p-clr1);
    overflow: hidden;
}

.container {
    max-width: 440px;
    border-radius: 5px;
    margin: 170px 565px;

    background-color: var(--p-clr2);
}

.title h1{
    height: 90px;
    background: var(--s-clr1);
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form {
    padding: 30px 25px 25px 25px;
}

.container form .cred-input {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.container form .cred-input input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .cred-input input:focus {
    border-color: var(--s-clr1);
    box-shadow: inset 0px 0px 2px 2px var(--p-clr1);
}

form .cred-input input::placeholder {
    color: #999;
}

.container form .cred-input i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: var(--s-clr1);
    border: 1px solid var(--s-clr1);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form .signup {
    margin: -8px 0 26px 123px;
}

.container form .signup a {
    color: var(--s-clr1);
    font-size: 17px;
    text-decoration: none;
}

.container form .signup a:hover {
    text-decoration: underline;
}

.container form .submit-btn {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: var(--s-clr1);
    border: 1px solid var(--p-clr1);
    margin: 10px auto auto;
    width: 50vh;
    padding: 10px;
}

.container form .submit-btn:hover{
    background: #3E6D9C;
}
