@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

:root {
    /*primary colors--Background color--navbg*/
    --p-clr1: #E14D2A;
    --p-clr2: white;
  

    /*Secondary Color--Hovers*/
    --s-clr1: #FD841F;
    
    
    /*Tertiary Color--buttons*/
    --t-clr1: #3E6D9C;
    

    /*Primary Font*/
    --pfont1: 'Domine', serif;
    --pfont2: ;
    --pfont3: ;

    /*Font sizing*/
    --fs-h1: 25px;
    --fs-h2: 21.5px;
    --fs-h3: 18.5px;
    --fs-p:  18.5px;

}

